@font-face {
  font-family: "PartialSansKR-Regular";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/PartialSansKR-Regular.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "NoonnuBasicGothicRegular";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noon-2410@1.0/NoonnuBasicGothicRegular.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}
:root {
  --main-title: "PartialSansKR-Regular";
  --main-font: "NoonnuBasicGothicRegular";
  --main-color: rgb(187, 236, 188);
  --main-sub: rgb(241, 241, 241);
}
body {
  box-sizing: border-box;
  background-color: white;
  font-family: var(--main-font);
}
header {
  position: fixed;
  width: 100%;
  background-color: var(--main-color);
  padding: 20px;
  box-sizing: border-box;
  font-family: var(--main-title);
  font-size: 1.2rem;
}
/* 메인 쪽 */
main {
  padding: 70px 10px 58px 10px;
}
nav ul {
  padding-inline-start: 0px;
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}
nav ul li {
  padding: 10px 8px 8px;
  background-color: var(--main-sub);
  border-radius: 8px;
  font-size: 15px;
  cursor: pointer;
}
nav ul li.active {
  background-color: var(--main-color);
  color: rgb(12, 70, 12);
  font-weight: bold;
}
nav ul li:hover {
  background-color: var(--main-color);
  font-weight: bold;
}
nav ul li:last-child {
  padding: 9px 8px 8px;
}
nav ul li select {
  border: none;
  outline: none;
  background: none;
  font-size: 15px;
  font-family: var(--main-font);
}
/* 입력 바 */
.addition-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 8px;
  margin: 12px 0;
  padding: 12px 8px;
  border-radius: 5px;
  background-color: var(--main-sub);
}
.addition-bar .addition-input {
  width: 70%;
  padding: 8px;
  border-radius: 5px;
  flex: 1;
  border: 1px solid silver;
}
.addition-bar select {
  border: 1px solid silver;
  border-radius: 5px;
  border: 1px solid silver;
  padding: 5px;
}
.addition-bar .addition-btn {
  background-color: var(--main-color);
  border: none;
  border-radius: 5px;
  font-size: 0.8rem;
  font-weight: 700;
}
/* 수정바 */
.edit-bar {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 12px;
}
.edit-bar .btn {
  padding: 10px 8px 8px;
  background-color: var(--main-sub);
  border-radius: 8px;
  font-size: 15px;
  cursor: pointer;
}
.btn:hover {
  background-color: var(--main-color);
  font-weight: bold;
}

/* 할 일 table */
table {
  margin-top: 20px !important;
  box-sizing: border-box;
  width: 100%;
}
table tr {
  display: flex;
  justify-content: space-between;
}
table thead tr {
  padding: 10px;
}
table tbody {
  border-bottom: 3px solid rgb(220, 220, 220);
}

table tbody tr {
  border-bottom: 1px solid rgb(220, 220, 220);
  padding: 12px 10px;
}
table tbody tr:last-child {
  border: none;
}

table thead {
  border-bottom: 3px solid rgb(220, 220, 220);
}
table tr th,
table tbody tr td {
  flex: 1;
  text-align: left;
}
table tbody {
  text-align: center;
}

/* 푸터 */
footer {
  position: fixed;
  bottom: 0;
  background-color: var(--main-color);
  width: 100%;
  padding: 12px;
  box-sizing: border-box;
}
